footer{
    left: 0%;
    bottom: 0%;
    /*position: absolute;*/
    width: 100%;
    color: white;
    text-align: center;
    background: #ff5858;
    background: linear-gradient(240deg, #ff5858 0%, #f09819 100%);
}
footer ul{
    padding: 2% 0 2% 0;
    display: flex;
    justify-content: center;
    gap: 20px;
    list-style: none;
}
footer ul li a{
    color: white;
    text-decoration: none;
    font-weight: 500;
}
footer li svg{
    font-size: 20px;
}