header{
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    background-color: rgb(16, 63, 214);
}
header nav{
    display: flex;
    align-items: center;
    justify-content: center;
    color: aliceblue;
    gap: 30px;
}
nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 0;
    margin: 0;
}
