header{
    margin: 0;
    width: 100vw;
    display: flex;
    align-items: center;
    background: #FF5858;
    justify-content: center;
    background: rgb(255,88,88);
    background: linear-gradient(240deg, #ff5858 0%, #f09819 100%);
}

header nav{
    gap: 30px;
    display: flex;
    color: aliceblue;
    align-items: center;
    justify-content: center;
}
nav ul {
    margin: 0;
    gap: 20px;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
}