@import url(login.css);
@import url(header.css);
@import url(footer.css);
@import url(cadastro.css);
@import url(animation.css);
@import url(carrusel.css);
@import url(menu.css);
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
*
:root{
    --cor_borda: #000000;
    --cor_primaria: #FFB62F;
    --cor_secundaria: #FFFFFF;
    --cor_texto: white;
    --cor_texto2: #000000;
}
body{
    margin: 0;
    font-family: "Inter", sans-serif;
}


.divisoria{
    display: grid;
    grid-row-gap: 0px;
    grid-column-gap: 0px;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(2, 1fr);
}

.caixa_login_cadastro{
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFB62F;
    color: aliceblue;
}
.caixa_login_cadastro h1{
    font-size: 4rem;
    font-weight: 700;
    font-family: "Inter", sans-serif;
}
.caixa_login_cadastro button{
    font-weight: bolder;
    font-size: 18px;
    border-radius: 12px;
    padding: 12px;
}
.caixa_login_cadastro button#BTN_login{
    color: black;
    background-color: aliceblue;
}
.caixa_login_cadastro button#BTN_cadastro{
    color: white;
    background-color: #202020;
}
.borda_horizontal{
    background: #e0e0e0;
    box-shadow: inset 6px 6px 12px #9f9f9f,
                inset -6px -6px 12px #ffffff;
}