@import url(login.css);
@import url(header.css);
@import url(footer.css);
@import url(cadastro.css);
@import url(animation.css);
@import url(carrusel.css);
@import url(menu.css);
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
*

/*
    Paleta de cores:
    Branco: #FFFFFF;
    Amarelo: #FFCF2E;
    Quase laranja: #FFB62F;
    Laranja: #FF972E;
*/
body{
    margin: 0;
    font-family: "Inter", sans-serif;
}


.divisoria{
    display: grid;
    grid-row-gap: 0px;
    grid-column-gap: 0px;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(2, 1fr);
}

/*Index.php*/
.caixa_login_cadastro{
    background-color: #FFB62F;
    align-content: center;
    justify-items: center;
}

.Titulo h1{
    font-size: 2.5em;
    margin-top: 10%;
    color: #fff;
}
.campoBTN{
    margin-bottom: 20%;
    justify-content: center;
    align-items: center;
    
}
.campoBTN button{
    border-radius: 24px;
    font-weight: bold;
    font-size: large;
    padding: 10px;
}
button#BTN_cadastro{
    background-color: #2b2b2b;
    color: #fff;
    margin-left: 10px;
    border: none;
}
button#BTN_login{
    background-color: #fff;
    color: #2b2b2b;
    border: none;
}