@import url(header.css);
@import url(animation.css);
@import url(footer.css);
*
body{
    margin: 0;
}

.divisoria{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}